name: wp
services:
  mariadb:
    image: bitnami/mariadb:latest
    volumes:
      - "mariadb_data:/bitnami/mariadb"
    healthcheck:
      test: ["CMD", "/opt/bitnami/scripts/mariadb/healthcheck.sh"]
      interval: 15s
      timeout: 5s
      retries: 6
    env_file: .env
    environment:
      MARIADB_USER: $MARIADB_USER
      MARIADB_PASSWORD: $MARIADB_PASSWORD
      MARIADB_ROOT_PASSWORD: $MARIADB_ROOT_PASSWORD
      MARIADB_DATABASE: $MARIADB_DATABASE
      MARIADB_PORT_NUMBER: $MARIADB_PORT_NUMBER
    networks:
      - wp_bitnami_network
  wordpress:
    image: bitnami/wordpress:latest
    ports:
      - "39080:8080"
      - "39443:8443"
    volumes:
      - "wordpress_data:/bitnami/wordpress"
    depends_on:
      - mariadb
    env_file: .env
    environment:
      WORDPRESS_DATABASE_HOST: mariadb
      WORDPRESS_DATABASE_PORT_NUMBER: $MARIADB_PORT_NUMBER
      WORDPRESS_DATABASE_USER: $MARIADB_USER
      WORDPRESS_DATABASE_PASSWORD: $MARIADB_PASSWORD
      WORDPRESS_DATABASE_NAME: $MARIADB_DATABASE
      WORDPRESS_ENABLE_REVERSE_PROXY: $WORDPRESS_ENABLE_REVERSE_PROXY
      WORDPRESS_SKIP_BOOTSTRAP: $WORDPRESS_SKIP_BOOTSTRAP
      WORDPRESS_USERNAME: $WORDPRESS_USERNAME
      WORDPRESS_PASSWORD: $WORDPRESS_PASSWORD
      WORDPRESS_EMAIL: $WORDPRESS_EMAIL
      WORDPRESS_FIRST_NAME: $WORDPRESS_FIRST_NAME
      WORDPRESS_LAST_NAME: $WORDPRESS_LAST_NAME
      WORDPRESS_SMTP_HOST: $WORDPRESS_SMTP_HOST
      WORDPRESS_SMTP_PORT_NUMBER: $WORDPRESS_SMTP_PORT_NUMBER
      WORDPRESS_SMTP_USER: $WORDPRESS_SMTP_USER
      WORDPRESS_SMTP_FROM_EMAIL: $WORDPRESS_SMTP_FROM_EMAIL
      WORDPRESS_SMTP_FROM_NAME: $WORDPRESS_SMTP_FROM_NAME
      WORDPRESS_SMTP_PASSWORD: $WORDPRESS_SMTP_PASSWORD
    networks:
      - wp_bitnami_network
volumes:
  mariadb_data:
    driver: local
  wordpress_data:
    driver: local

networks:
  wp_bitnami_network:
    driver: bridge
